#right-sidebar .clickable-icon.sidebar-collapse-icon {
    display: none !important;
}

#left-sidebar .clickable-icon.sidebar-collapse-icon {
    display: none !important;
}

button.clickable-icon.nav-action-button.tree-collapse-all.is-collapsed {
    display: none !important;
}

button.clickable-icon.nav-action-button.tree-collapse-all {
    display: none !important;
}

.tree-container .feature-title {
    font-size: inherit !important;
    color: var(--text-normal) !important;
    margin-left: auto;
    margin-right: auto;
}

#center-content .backlink-pane, #file-explorer, .bases-view, .markdown-source-view .backlink-pane, .search-result-container.mod-global-search, .tag-container
Specificity: (0,1,0)
 {
    border-radius: 25px !important;
    background-color: var(--background-paper) !important;
    box-shadow: inset 0px 0px 3px 0px oklch(from #000 l c h / 50%) !important;
    z-index: 0;
    border-style: double;
    border-width: 5px;
    border-color: #ae72ff;
}

.tree-item {
    padding-left: 10px;
    padding-right: 10px;
}

#left-sidebar .sidebar-topbar {
    border-top-style: groove;
    border-right-style: groove;
}

.sidebar #left-sidebar-content, .sidebar #right-sidebar-content {
    border-style: groove;
}

#left-content, #right-content {
    margin-bottom: 50px !important;
    margin-top: 20px !important;
}