/*
hi this is my janky css lmao
*/

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: hidden;
}

  
  #container1 {
    position: absolute;
    display: block;
    top: 0px !important;
    left: 0px !important;
    height: 60px !important;
    width: 100% !important;
    color: #DDDDDD;
    background: #16161d;
    padding: 0px !important;
}

#container2 {
  top: -60px !important; 
  left: -8px !important;
  flex: 1; /* Takes remaining space */
  box-sizing: border-box;
  }
  
  #audio-player {
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin: 0px auto;
  max-width: 400px;
}

.controls {
  display: inline-flex;
  gap: 10px;
  padding: 6px 12px;
  border-radius: 50em;
  background: #fefefe;
  box-shadow: 0 1px 5px rgba(0,0,0,0.1);
}

button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

#track-title {
  margin-top: 0px !important;
  font-size: 12px !important;
  display: inline-block;
    margin-left: 20px;
    padding-right: 20px;
}

.peek-top-hover-area
 {
    display: none !important;
}