:root {
  --red: #FF0000;
  --green: #00FF00;
  --blue: #0000FF;
  --black: #000000;
  --lavendelle: #d5bef2;
  --charcoal: #2c3335;
  --white: #ffffff;
  --cyan: #00d9ff;
  --discopic: url(https://file.notion.so/f/f/ce1a0c83-65f5-81e0-a168-0003ed8735e0/c6bde306-44e1-45a4-8904-c6ca18e68d14/pink-mew.gif?table=block&id=2f8a0c83-65f5-81c9-893b-ec203996d3e1&spaceId=ce1a0c83-65f5-81e0-a168-0003ed8735e0&expirationTimestamp=1791172800000&signature=aXTrx8hYAB0TcRqUgVw9iP_eCQQCulIHjSptiwd-PEY);
}

.escucha > * {
  filter: blur(4px);
  animation: crt-scanline-flicker 4s steps(2) infinite;
}

.escucha > *:hover {
  filter: blur(1px);
  color: white !important;
}

body {
    inset: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    cursor: default;
    user-select: none;
    background-color: var(--charcoal);
    background-image: radial-gradient(circle, #16161d 1.25px, transparent 1.25px);
    background-size: 15px 15px;
    outline: none;
}

.crt-allthethings {
  height: auto;
  margin: 0 !important;
  content: "";
    position: fixed;
    inset: 0;
    background: repeating-linear-gradient(
        0deg,
        transparent,
        transparent 1px,
        rgba(170, 0, 255, 0.55) 2px,
        rgba(0, 0, 0, 0.25) 3px
    );
    pointer-events: none;
    z-index: 0;
}

.headertop {
  z-index: -1;
  display: block;
  position: absolute;
  height: 270px;
  background-position: 0% 23%;
  top: -10px;
  left: -10px;
  width: 115%;
  background-color: var(--lavendelle);
  background-blend-mode: hard-light;
  background-size: cover;
  background-image: url(https://img.notionusercontent.com/s3/prod-files-secure%2Fce1a0c83-65f5-81e0-a168-0003ed8735e0%2Fc00dc18d-6800-4c68-836b-19ffc26fc736%2Fd1e0396ca7e4d2945aea4d9fce4fa04c.jpg/size/w=2000?tok=eyJhbGciOiJFUzI1NiIsImtpZCI6IlI3dzVrRnREIiwidHlwIjoiSldUIn0.eyJzcGFjZUlkIjoiY2UxYTBjODMtNjVmNS04MWUwLWExNjgtMDAwM2VkODczNWUwIiwiZmlsZUlkIjoiYzAwZGMxOGQtNjgwMC00YzY4LTgzNmItMTlmZmMyNmZjNzM2IiwicmVjb3JkIjoiYmxvY2s6MmY4YTBjODMtNjVmNS04MWM5LTg5M2ItZWMyMDM5OTZkM2UxIiwiZXhwIjoxNzkxMjMxMjA0fQ.dvxnk2ob9sr-TjJcEpdfmu8jmZQMwRUro690i_ZqC-H2kMHNXv4CLGJNkazODEJN62FaV3jDNgNRYCz7UkKEdg&imgBuildSrc=createSecureFileAccessTokenImageUrl&mtd=so);
   -webkit-mask-image: linear-gradient(to bottom, #2c3335 80%, transparent 100%);
  mask-image: linear-gradient(to bottom, #2c3335 60%, transparent 100%);
}

.container {
  background: transparent;
  margin: 0;
  width: auto;
  height: auto;
  position: relative;
  top: 150px;
   
}

.disco {
  border: 8px double;
  border-color: var(--lavendelle);
  box-shadow: 3px 0 0 rgba(255, 71, 87, 0.75),
              -3px 0 0 rgba(0, 217, 255, 0.75),
               5px 0 0 rgba(0, 217, 255, 0.75),
               -5px 0 0 rgba(255, 71, 87, 0.75);
  border-radius: 10px;
  top: 90px;
  left: 35px;
  z-index: 0;
  position: absolute;
  display: block;
  background-image: var(--discopic);
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  background-size: cover;
  image-rendering: pixelated;
}

.disco {
    box-shadow: 2px 0 #ff475759, -2px 0 #00d9ff59;
    animation: 6s steps(2) infinite crt-scanline-flicker;
}

.thisisadigitalgarden {
  top: 150px;
  left: 160px;
  position: absolute;
  display: block;
  width: 50%;
  z-index: 0;
  color: var(--white);
  text-shadow: 
              1px 1px 0 rgba(0, 0, 0, 0.75),
              -1px -1px 0 rgba(0, 0, 0, 0.75),
              3px 0 0 rgba(255, 71, 87, 0.75),
              -3px 0 0 rgba(0, 217, 255, 0.75),
              5px 0 0 rgba(0, 217, 255, 0.75),
              -5px 0 0 rgba(255, 71, 87, 0.75);
}

.rabbitwave98 {
  font-family: 'Dotgothic16';
  font-weight: bold;
  line-height: 0.5em;
  font-size: 1.5em;
   text-shadow: 
              2px 2px 0 rgba(0, 0, 0, 0.75),
              -2px -2px 0 rgba(0, 0, 0, 0.75),
              4px 0 0 rgba(255, 71, 87, 0.75),
              -4px 0 0 rgba(0, 217, 255, 0.75),
              5px 0 0 rgba(0, 217, 255, 0.75),
              -5px 0 0 rgba(255, 71, 87, 0.75);
}

.thisisa {
  font-family: 'Jacquard 12';
  line-height: 0.4em;
  font-size: 2.5em;
}

.crt-filter::before {
    content: "";
    position: absolute;
    inset: 0;
    background: repeating-linear-gradient(
        0deg,
        transparent,
        transparent 2px,
        rgba(170, 0, 255, 0.55) 2px,
        rgba(0, 0, 0, 0.25) 3px
    );
    pointer-events: none;
    z-index: 0;
    animation: crt-scanline-flicker 0.08s steps(2) infinite;
}

img.crt-image {
    animation: crt-scanline-flicker 4s steps(1) infinite;
    box-shadow:
        3px 0 0 rgba(255, 71, 87, 0.3),
        -3px 0 0 rgba(0, 217, 255, 0.3);
}

@keyframes crt-scanline-flicker {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0.92;
    }
}



.escucha {
  display: block;
  width: 100%;
  position: absolute;
  height: auto;
  right: -50%;
  top: 80%;
  opacity: 20%;
  z-index: 5 !important;
}

.escucha h1 {
  transform: rotate(90deg);
  font-family: 'Jacquard 12';
  font-weight: 400;
  font-size: 50px;
}



.textbox {
  z-index: 10 !important;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  width: 77%;
  box-shadow: 
              4px 4px 1px rgba(0, 0, 0, 0.35),
              -4px -4px 1px rgba(0, 0, 0, 0.25);
}

.textbox-content {
  background: #f3f4f6;
  padding: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.textbox-strip {
  height: 5px;
  width: 100%;
  background: #d5bef2;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.header h1 {
  font-size: 16px;
}

.chungus {
  z-index: -1;
  position: relative;
  display: block;
  top: -140px;
  left: 40px;
  color: grey;
  width: 77%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  opacity: 65%;
}

.chungus img {
  border-radius: 10px;
  width: 100px;
  height: 100px;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
}

.chungus img:hover {
    position: relative;
  mix-blend-mode: screen;
  transform: translate(4px, 4px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  animation: set1 1s infinite;
}

.escucha .set1 {
  color: var(--red) !important;
}

.escucha .set2 {
  color: var(--green);
}

.escucha .set3 {
  color: var(--blue);
}


.set1 {
  position: absolute;
  mix-blend-mode: screen;
  transform: translate(4px, 4px);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  animation: set1 1s infinite;
}

.set2 {
  position: absolute;
  mix-blend-mode: screen;
  transform: translate(0,0);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  
  animation: set2 1s infinite;
}

.set3 {
  position: absolute;
  mix-blend-mode: screen;
  transform: translate(-4px, -4px);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  
  animation: set3 1s infinite;
}

@keyframes set1 {
  0% {transform: translate(4px, 4px)}
  15% {transform: translate(5px, 6px)}
  30% {transform: translate(4px, 4px)}
  45% {transform: translate(5px, 6px)}
  60% {transform: translate(4px, 4px)}
  75% {transform: translate(6px, -2px)}
  100% {transform: translate(4px, 4px)}
}

@keyframes set2 {
  0% {transform: translate(0px, 0px)}
  15% {transform: translate(-1px, -2px)}
  30% {transform: translate(0px, 0px)}
  45% {transform: translate(-1px, -2px)}
  60% {transform: translate(0px, 0px)}
  75% {transform: translate(-1px, 1px)}
  100% {transform: translate(0px, 0px)}
}

@keyframes set3 {
  0% {transform: translate(-4px, -4px)}
  15% {transform: translate(-6px, -6px)}
  30% {transform: translate(-4px, -4px)}
  45% {transform: translate(0px, 0px)}
  60% {transform: translate(-4px, -4px)}
  75% {transform: translate(-3px, -5px)}
  100% {transform: translate(-4px, -4px)}
}

a:hover > .set1 {
  animation: none;
  transform: translate(0,0);
}

a:hover > .set2 {
  animation: none;
  transform: translate(0,0);
}

a:hover > .set3 {
  animation: none;
  transform: translate(0,0);
}
.aesthetique {
  z-index: 10;
  position: relative;
  width: 1000px;
  top: 80px;
  display: block;
  margin: 0 auto;
}

/* flexthatshit */
.wrapper {
  display: flex;  
  flex: 1 100%;
  flex-flow: row wrap;
  flex-grow: auto;
  font-weight: bold;
  text-align: center; 
    margin: 0 auto;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.header a {
  font-family: 'Handjet' !important;
  text-decoration: none !important;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  color: var(--white);
  background: var(--lavendelle);
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
  border: 3px double var(--white);
    transition: 0.75s ease-in-out;
}

.header a:hover {
  color: var(--cyan);
  background: var(--white);
  transition: 0.75s ease-in-out;
}

.header {
  background: #f3f4f6;
  border-top: 5px solid var(--lavendelle);
  border-radius: 10px;
  border-left: 2px inset var(--lavendelle);
  border-right: 2px inset var(--lavendelle);
  border-bottom: 2px inset var(--lavendelle);
  margin-bottom: 5px;
}

.footer {
  background: #f3f4f6;
  border-top: 5px solid var(--lavendelle);
  border-radius: 10px;
  border-left: 2px inset var(--lavendelle);
  border-right: 2px inset var(--lavendelle);
  border-bottom: 2px inset var(--lavendelle);
  margin-top: 5px;
}

.main {
    background: #f3f4f6;
  border-top: 5px solid var(--lavendelle);
  border-radius: 10px;
  border-left: 2px inset var(--lavendelle);
  border-right: 2px inset var(--lavendelle);
  border-bottom: 2px inset var(--lavendelle);
}

.aside-1 {
  background: #f3f4f6;
  border-top: 5px solid var(--lavendelle);
  border-radius: 10px;
  border-left: 2px inset var(--lavendelle);
  border-right: 2px inset var(--lavendelle);
  border-bottom: 2px inset var(--lavendelle);
  margin-right: 10px;
  
}

.aside-2 {
  background: transparent;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; } 
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}

body {
  padding: 2em; 
}
