#right-sidebar .clickable-icon.sidebar-collapse-icon {
    display: none !important;
}

#left-sidebar .clickable-icon.sidebar-collapse-icon {
    display: none !important;
}

button.clickable-icon.nav-action-button.tree-collapse-all.is-collapsed {
    display: none !important;
}

button.clickable-icon.nav-action-button.tree-collapse-all {
    display: none !important;
}

.tree-container .feature-title {
    font-size: inherit !important;
    color: var(--text-normal) !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

#center-content .backlink-pane, #file-explorer, .bases-view, .markdown-source-view .backlink-pane, .search-result-container.mod-global-search, .tag-container
Specificity: (0,1,0)
 {
    border-radius: 25px !important;
    background-color: var(--background-paper) !important;
    box-shadow: inset 0px 0px 3px 0px oklch(from #000 l c h / 50%) !important;
    z-index: 0;
    border-style: double;
    border-width: 5px;
    border-color: #ae72ff;
}

.tree-item {
    padding-left: 10px;
    padding-right: 10px;
}

#left-sidebar .sidebar-topbar {
    border-top-style: groove;
    border-right-style: groove;
}

.sidebar #left-sidebar-content, .sidebar #right-sidebar-content {
    border-style: groove;
    background-image: url(assets/tiling/eb2.png);
}

#left-content, #right-content {
    margin-bottom: 50px !important;
    margin-top: 20px !important;
}

.auto-card-link-container {
    container-type: inline-size;
    position: relative;
    overflow: hidden;
    user-select: none;
    --auto-card-link-button-width: calc(var(--icon-size) + var(--size-2-3));
    --auto-card-link-indent-size: 2.5em;
}

.auto-card-link-card {
    display: flex;
    flex-direction: row-reverse;
    height: 8em;
    transition: 20ms ease-in 0s;
    cursor: pointer;
    text-decoration: none;
    color: var(--link-external-color);
    background: var(--background-primary-alt);
    border: solid var(--border-width) var(--divider-color);
    border-radius: var(--radius-s);
}

.markdown-preview-sizer {
    padding-bottom: 10vh !important;
}

#center-content .obsidian-document {
    width: 70% !important;
    margin-top: 100px !important;
    height: 70% !important;
}

.sidebar .leaf-content {
    background-color: #cdcbff !important;
}

h1#index_0 {
    color: #726fd1 !important;
    font-family: math;
    font-style: italic;
}

#main {
    margin-top: -200px !important;
}

.obsidian-document.markdown-preview-view.markdown-rendered.node-insert-event.is-readable-line-width.show-indentation-guide.show-properties {
    background-color: #e0e7ff;
    padding: 15px;
    height: auto;
    border-radius: 15px !important;
    border-width: 10px;
    border-style: double;
    border-color: #cdcbff;
    height: 780px !important;
}

#right-sidebar {
    display: none !important;
}

.sidebar #left-sidebar-content, .sidebar #right-sidebar-content {
    height: 70% !important;
}

#left-sidebar-content {
    margin-top: 100px !important;
}

h1, h2, h3, h4, h5, h6, a, b {
    color: #6165dd !important;
}

