/* rabbit's custom css */


#right-sidebar .clickable-icon.sidebar-collapse-icon {
    display: none !important;
}

#left-sidebar .clickable-icon.sidebar-collapse-icon {
    display: none !important;
}

button.clickable-icon.nav-action-button.tree-collapse-all.is-collapsed {
    display: none !important;
}

button.clickable-icon.nav-action-button.tree-collapse-all {
    display: none !important;
}

.tree-container .feature-title {
    font-size: inherit !important;
    color: var(--text-normal) !important;
    margin-left: auto;
    margin-right: auto;
}

#center-content .backlink-pane, #file-explorer, .bases-view, .markdown-source-view .backlink-pane, .search-result-container.mod-global-search, .tag-container
Specificity: (0,1,0)
 {
    border-radius: 25px !important;
    background-color: var(--background-paper) !important;
    box-shadow: inset 0px 0px 3px 0px oklch(from #000 l c h / 50%) !important;
    z-index: 0;
    border-style: dashed;
    border-width: 5px;
    border-color: #ae72ff;
}

.tree-item {
    padding-left: 10px;
    padding-right: 10px;
}

#left-sidebar .sidebar-topbar {
    border-top-style: groove;
    border-right-style: groove;
}

.sidebar #left-sidebar-content, .sidebar #right-sidebar-content {
    border-style: groove;
}

#left-content, #right-content {
    margin-bottom: 50px !important;
    margin-top: 20px !important;
}

.auto-card-link-container {
    container-type: inline-size;
    position: relative;
    overflow: hidden;
    user-select: none;
    --auto-card-link-button-width: calc(var(--icon-size) + var(--size-2-3));
    --auto-card-link-indent-size: 2.5em;
}

.auto-card-link-card {
    display: flex;
    flex-direction: row-reverse;
    height: 8em;
    transition: 20ms ease-in 0s;
    cursor: pointer;
    text-decoration: none;
    color: var(--link-external-color);
    background: var(--background-primary-alt);
    border: solid var(--border-width) var(--divider-color);
    border-radius: var(--radius-s);
}


#center-content .obsidian-document .markdown-preview-sizer {
    padding-bottom: 0px !important;
}

#file-explorer {
    padding: 0;
    border-radius: 20px;
    border-style: dashed;
}